@font-face {
  font-family: "8 Bit Wonder";
  src: url("./assets/8-BIT-WONDER.TTF");
}  

@font-face {
font-family: "dogica";
src: url("./assets//dogica.ttf");
}  

@font-face {
font-family: "dogicabold";
src: url("./assets//dogicabold.ttf");
}  
  
.calendar-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Makes it scrollable */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.calendar-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}
  
.event {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top of the event container */
  background-color: #e6e2e0;
  border-radius: 10px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 20px;
  width: 100%;
  max-width: 100%;
}
  
.event img {
  min-width: 300px;
  max-width: 300px;
  margin-right: 20px;
  border-radius: 5px;
  image-rendering: pixelated;
}
  
.event h2 {
  text-align: left;
  font-family: "8 Bit Wonder";
  color: black;
}

.event h3 {
  text-align: left;
  font-family: "dogicabold";
  color: black;
}

.event p {
  margin-top: 1rem;
  text-align: left;
  font-family: "dogica";
  color: black;
}
  
.event button {
  font-family: "8 Bit Wonder";
  background-color: #d5d0cd;
  border: none;
  border-radius: 4px;
  color: #3b3a39;
  cursor: pointer;
  margin-top: 2rem;
  margin-right: 10px;
  padding: 7.5px 15px;
  transition: background-color 0.2s ease-in-out;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.buttons {
  text-align: left;
}

.featured-header, .upcoming-header, .released-header, .minting-header {
  font-family: "8 Bit Wonder";
  color: black;
  align-items: left;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,.1);
  height: 3.5rem;
  background-color: #efebe8;
  top: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky; /* All other browsers */
  z-index: 100;
  margin-bottom: 1rem;
  width: 100%;
  padding-top: 1rem;
}

.button-mint {
  background-color: #3574c1 !important;
  color: white !important;
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
}
