@font-face {
    font-family: "8 Bit Wonder";
    src: url("./assets/8-BIT-WONDER.TTF");
}  

@font-face {
  font-family: "dogica";
  src: url("./assets//dogica.ttf");
}  

@font-face {
  font-family: "dogicabold";
  src: url("./assets//dogicabold.ttf");
}  

.gallery-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}
  
.sorting-section {
    width: 25%;
    margin-left: 6rem;
    overflow-y: auto;
    height: calc(100vh - 60px);
    margin-top: 3rem;
}

.filter-text {
  display: flex;
  align-items: center;
  background-color: #edc239;
  position: fixed !important;
  font-family: "8 Bit Wonder";
  font-size: 1rem;
  margin: 0;
  color: black;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,.1);
  height: 3.5rem;
  margin-bottom: 1rem;
  z-index: 1;
  width: 19.1%;
}

.sorting-header {
  height: 3.5rem;
}
  
.grid-section {
    padding-right: 6rem;
    margin-left: 2rem;
    overflow-y: auto;
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
    margin-top: 3rem;
}
  
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: start;
    align-items: start;
    scrollbar-width: none;
    z-index: -1;
    margin-top: 4rem;
}

.close-btn {
  display: none;  /* Hide the close button by default */
  cursor: pointer; /* Changes the cursor when hovering over the close button */
}

.filter-button {
  display: none;
  background-color: transparent;
  scale: 0.05;
}

.gallery-grid::-webkit-scrollbar {
    display: none;
}

.sorting-section::-webkit-scrollbar,
.grid-section::-webkit-scrollbar {
  display: none;
}

.sorting-section {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

.grid-section {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

  
.gallery-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 350px; /* Adjust this according to your needs */
}
  
.gallery-item img {
    border-radius: 0.75rem;
    width: 12vw;
    height: 12vw;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.25s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.01);
}

.punk-number {
    color: black;
    font-family: dogicabold;
    font-size: .65rem;
    letter-spacing: .1em;
    margin-top: 0.75rem;
    padding-bottom: 0.25rem;
    text-align: center;
    text-transform: uppercase;
}

.loading-text {
  grid-column: 1 / -1;  /* Span all columns */
  grid-row: 1 / -1;     /* Span all rows */
  color: black;
  font-family: dogicabold;
  font-size: .65rem;
  letter-spacing: .1em;
  margin-top: 0.75rem;
  padding-bottom: 0.25rem;
  text-align: center;
  text-transform: uppercase;
}

.inscription-number, .punk-rarity {
    color: black;
    font-family: dogica;
    font-size: .65rem;
    letter-spacing: .1em;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
    text-transform: uppercase;
}

.filter-label {
    font-family: "8 Bit Wonder";
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    cursor: pointer;
}

.filter-label label {
    cursor: pointer;
}

.filter-option {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: .75rem;
    font-family: "dogica";
    cursor: pointer;
    color: black;
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
    text-align: left;
}

.filter-option input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  border: 1px solid #9f9f9f;
  border-radius: 3px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  outline: none;
  transition: background 0.3s;
  margin-right: 0.5rem;
}

.filter-option input[type="checkbox"]:checked {
  background-color: black;
  border-color: black;
  background-image: none;
}

.filter-label-div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.all-options.expanded {
    margin-bottom: 1rem;
}

.gallery-item {
    opacity: 0;
    transition: opacity 0.3s ease-out
  }

.gallery-item--visible {
    opacity: 1;
  }

.rarity-mode-switch {
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: black;
    font-family: "8 Bit Wonder";
    font-size: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.search-number-box {
    width: 100%;
    height: 2rem;
    border: none;
    background-color: transparent;
    font-size: .75rem;
    outline: none;
    margin: 0;
    font-family: "dogica";
    letter-spacing: -2.5px;
}

.inscription-filter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color 0.3s ease;
}

.inscription-filter:focus-within {
    border-bottom: 1px solid rgba(0, 0, 0, 1); /* Change border-bottom when input is focused */
  }

.inscription-filter input {
    color: black;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffd138;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffd138;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .filter-button-div {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 5vw;
    padding-right: 2rem;
  }

  .grid-header {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 3.5rem;
    background-color: #edc239;
    position: fixed;
    top: 0;
    z-index: 100;
    margin-bottom: 1rem;
    width: 100%;
    margin-top: 6.8rem;
  }

  .switch-dataset {
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "8 Bit Wonder";
    text-decoration: none;
    transition: background-color .2s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    width: 14.9rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .dataset-button {
    background-color: black;
    color: #edc239;
    font-family: "8 Bit Wonder";
    transition: background-color 0.3s ease;
    font-size: 0.8em;
    height: 2rem;
    margin-left: .25rem;
  }
  
  .dataset-button:hover {
    background-color: #2c2c2c;
  }
  
  .dataset-button.selected {
    background-color: #2c2c2c;
  }
  
  @media (max-width: 1535px) {
    .gallery-grid {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 4rem;
    }
  
    .gallery-item img {
      width: 15vw !important;
      height: 15vw !important;
    }
  
    .grid-header {
      width: 68vw !important;
    }
  
    .filter-option {
      font-size: .65rem !important;
    }
}

@media (max-width: 1025px) {
    .filter-button {
      display: block !important;
      margin-bottom: 1rem;
    }
  
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-top: 4rem;
    }
    
    .grid-header {
      width: 100vw !important;
    }
  
    .switch-dataset {
      margin-left: 1rem;
      width: 16.1rem;
    }
  
    .grid-section {
      margin-left: 0rem;
    }
  
    .gallery-item img {
      width: 45vw !important;
      height: 45vw !important;
    }
  
    .gallery-item {
      max-height: 700px !important;
    }
  
    .sorting-section {
      position: fixed;
      right: -100%;  /* Hide the menu off the screen */
      top: 0;
      height: 100%;
      width: 30%;  /* Width of the menu */
      background-color: #edc239;  /* Background color of the menu */
      transition: right 0.5s ease-in-out;  /* Transition effect for the menu */
      padding-left: 1rem;
      padding-right: 1rem;
      z-index: 9999; /* Make sure the menu is on top of other elements */
      margin-top: 0rem;
      min-width: 300px;
    }
  
    .sorting-header {
      display: flex;
      justify-content: space-between;
      align-items: center; /* If you want the items to be vertically aligned */
      border-bottom: 1px solid rgba(0,0,0,.1);
      z-index: 100;
    }

    .filter-text {
      border-bottom: 1px solid rgba(0,0,0,0);
      height: 1rem;
      margin-bottom: 0rem;
      position: relative !important;
    }
  
    .grid-section {
      width: 100vw !important;
      padding-right: 0rem;
    }

    .close-button-div {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 5vw;
      height: 5vw;
      padding-right: -1rem;
    }
  
    .close-btn {
      cursor: pointer;
      display: block;
      scale: .03;
      z-index: 1;
    }
  
    .sorting-section::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(239, 235, 232, 0.5);
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
      z-index: -1; /* Put the backdrop behind the menu */
      pointer-events: none; /* Allow clicks to pass through when the menu is not active */
    }
  
    .sorting-section.active::before {
      opacity: 1;
      pointer-events: auto; /* Allow interactions with the pseudo-element when the menu is active */
    }
  
  
    .sorting-section.active {
      right: 0;  /* Show the menu on the screen */
    }
  }